/* DailyPlan.css - Minimal styles for elements that can't use Tailwind */

/* Spinning animation for refresh button */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

/* Border width 3 (not in default Tailwind) */
.border-3 {
  border-width: 3px;
}

/* Background opacity variants */
.bg-white\/3 {
  background-color: rgb(255 255 255 / 0.03);
}
